* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F5F9;
}

.card {
  max-width: 438px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.card-images {
  position: relative;
  display: inline-block;
}

.card-img {
  display: block;
  max-width: 438px;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 76%;
}

.card-content {
  position: relative;
  padding: 0 30px;
}

.card-title {
  color: #111729;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 0;
}

.card-info {
  color: #677489;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  word-spacing: 2px;
  margin-bottom: 20px;
}

.card-author-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 30px;
  max-width: 100%;
  border-top: 1px solid #F2F5F9;
}

.card-avatar {
  height: auto;
  width: 50px;
  box-sizing: border-box;
  border: 5px solid #F2F5F9;
  border-radius: 50%;
}

.card-author {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #677489;
  margin: 0;
  margin-left: 10px;
  
}

.card-author-position {
  font-family: 'Lato', sans-serif;
  font-size: 0.75rem;
  color: #677489;
  margin: 0;
  margin-left: 10px;
}
